@charset "utf-8";
/* CSS Document */

* { 
	margin: 0;
	padding: 0;
}


/* navigation */
#header {
	display: none;
}

#hnav {
	display: none;
}

img { /* Forces any images to be grayscale */
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        	filter: grayscale(100%);  
}

a {
	text-decoration: underline;
	color: #000;
}